:root {
    --ondas-black-opacity: 0.15;
    --ondas-count: 14;
  
    --primary-color: rgb(203, 178, 121);
    --primary-color-hover: rgb(213, 188, 131);
    --contact-bg-color: rgb(203, 178, 121);
    --secondary-color: rgb(109, 95, 65);
    --secondary-color-hover: rgb(119, 105, 75);
    --primary-blur-color: rgba(203, 178, 121, 0.35);
    --primary-dark-blur-color: rgba(114, 100, 65, 0.35);
    --toast-success-color: rgba(55, 105, 55, 0.45);
    --toast-fail-color: rgba(124, 62, 62, 0.45);
    --border-radius-low: 0.5vh;
    --white-text-color: rgb(232, 222, 197);
    --border-inverse: 1.5vh;
    --mask-blur: 20vh;
}